{% extends 'main/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="mb-4">
        <input type="text" id="searchBox" placeholder="Search..." class="form-control">
    </div>
    <div class="card p-4 shadow-sm">
        <h1 class="h4 text-primary">Available Datasets</h1>
        <table id="datasetTable" class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for dataset in datasets %}
                    <tr>
                        <td><a href="{% url 'main:dataset_detail' dataset.slug %}" class="text-decoration-none">{{ dataset.name }}</a></td>
                        <td>{{ dataset.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function() {
        var table = $('#datasetTable').DataTable({
            "paging": true,  // Enable pagination
            "ordering": true, // Enable column sorting
            "info": true     // Show info like "Showing 1-10 of 50 entries"
        });

        $('#searchBox').on('input', function() {
            table.search($(this).val()).draw();
        });
    });
</script>
{% endblock content %}